<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836395927006-nh3s5mkaojh3el50paf5s7kt9arkl1nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836395927006-nh3s5mkaojh3el50paf5s7kt9arkl1nj</string>
	<key>API_KEY</key>
	<string>AIzaSyBD0kB_SedJ-h_AcmdZujQK4_YR2E90kUU</string>
	<key>GCM_SENDER_ID</key>
	<string>836395927006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthicalFlutterClone</string>
	<key>PROJECT_ID</key>
	<string>healthical-5cd7a</string>
	<key>STORAGE_BUCKET</key>
	<string>healthical-5cd7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836395927006:ios:86b437bc1507aee476c94f</string>
</dict>
</plist>